.container
{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.backButton
{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* Align right */
    margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px; /* Adjust this value based on your desired button container width */
  margin: 0 auto; /* Center the button container */
}

.twoColumnButton {
  width: calc(50% - 10px) !important; /* Adjust button width to fill half of the container, minus some space for the gap */
  margin-bottom: 20px; /* Add some space between button rows */
}