.container {
  width: 60vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally aligns items along the cross axis */
  justify-content: center; /* vertically aligns items along the main axis */
  gap: 1em;
}

.backButton {
  margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* align items in the center */
  max-width: 600px;
  margin: 0 auto;
}

.twoColumnButton {
  width: calc(50% - 10px) !important;
  margin-bottom: 20px;
  padding: 1em; /* add padding to buttons */
}

.curriculumHeader {
  width: 100%;
  text-align: left;
  padding-left: 1em; /* align with the buttonContainer */
  margin-top: 2em;
}


.curriculumItem {
  margin-bottom: 20px; /* Adjust this value according to your preference */
}
