.mainContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    height: 100%;
    margin-top: 8%;
    gap: 2rem;
}

.leftContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    /* gap: -2rem; */
}

.buttons
{
    text-align: center; 
    margin-top: 2%; 
}

.buttonIcon
{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 10px;
}

.landingPageImage
{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}