.mainContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.title
{
    color: var(--text);
    position: relative; 
    text-align: center;
    font-size: 50px;
    margin-bottom: 6.5%;
}

.title:after 
{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -25px; 
    background: var(--gray);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 35%;
    transition: 0.5s;
 }
  
.title:hover:after {
    width: 100%;
    background: var(--blue);
 }

.icon
{
    color: var(--blue);
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.orText {
    margin: 0;
}