.mainContainer {
    height: 90%;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.formContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.formLeft,
.formRight {
    width: 45%;
}

.formLeft {
    margin-right: 20px;
    margin-bottom: 25px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 45%; 
    box-sizing: border-box;
}

.checkboxContainer input[type="checkbox"] {
    margin-right: 10px;
    width: 30px; /* Adjust this value to your preference */
    height: 48px; /* Adjust this value to your preference */
}

.formRight {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.warningText {
    color: var(--red);
}
