.submitButton {
    align-self: center;
    border: 2px solid var(--gray);
    transition: border 0.2s; /* Adding transition */
    margin-top: 8px;
    margin-bottom: 8px;
}

.submitButton:hover {
    border-color: var(--black); /* On hover, border turns black */
}

.blueButton {
    background-color: var(--blue);
    border: none;
    color: white;
    transition: background-color 0.2s; /* Adding transition */
}

.blueButton:hover {
    background-color: var(--light-blue); /* On hover, background color turns slightly lighter blue */
}

.buttonIcon {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 10px;
}
