.submitButton {
    align-self: center;
    margin-top: 25px;
    border: 2px solid var(--gray);
}

.blueButton {
    background-color: var(--blue);
    border: none;
    color: white;
}

.buttonIcon {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 10px;
}
