.lessonItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.lessonItem:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.removeButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text);
}

.field input,
.field textarea {
    background-color: var(--bg);
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 5px;
    color: var(--text);
    width: 100%;
}

.field textarea {
    height: 48px; /* roughly 2 lines */
    resize: vertical; /* allow user to resize vertically if they need more space */
}

.row,
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}
