.mainContainer {
    height: 90%;
    width: 60vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.formLeft,
.formRight {
    width: 45%;
}

.formLeft {
    margin-right: 20px;
    margin-bottom: 25px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-basis: 45%; /* Add this line */
    box-sizing: border-box; /* Add this line */
}

.checkboxContainer input[type="checkbox"] {
    margin-right: 5px; /* Change this from 10px to 5px */
    width: 16px; /* Add this line */
    height: 16px; /* Add this line */
}

.formRight {
    display: flex; /* Add this line */
    flex-wrap: wrap; /* Add this line */
    width: 45%;
}


.warningText
{
    color: var(--red);
}